<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <!--Official Documentation can be found at https://wixtoolset.org/docs/intro/ but it kind of sucks-->
  <!--Even better documentation found here https://documentation.help/ go to WIX Toolset or other WIX documentation in the list-->
  <Package 
    Name="OpenCOMBAS Launcher" 
    Manufacturer="OpenCOMBAS" 
    UpgradeCode="3a4cab70-4b7b-4744-b2c8-cd33e0728dc7"
    Compressed="true"
    Scope="perMachine"
    Version="0.0.0.2"> <!--This version should come from the CI/CD Pipeline-->

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" AllowSameVersionUpgrades="yes"/>  <!--Configuration options for the upgrading of software, we are not allowing downgrades-->

    <!-- Force overwriting files -->
    <Property Id="REINSTALLMODE" Value="amus" />

    <Property Id="MsiLogging" Value="voicewarmupx!"/>
    <!--This is all logging flags to output a log to Temp folder, named normally MSIxxxxx.LOG-->

    <Icon Id="ProductIcon" SourceFile="Resources/OpenCOMBAS.ico" />   <!--This is the icon for the product, shown in the installer and in add/remove programs-->
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />

    <Media Id="1" Cabinet="data.cab" EmbedCab="yes"/>


    <ui:WixUI Id="WixUI_Minimal"/>
    <!--This is the UI set to use, if a more complex ui is needed see custom ui docs-->

    <!--<WixVariable Id="WixUILicenseRtf" Value="EULA.rtf"/>-->   <!--This is the EULA.rtf entry point.-->
    
    <!--<WixVariable Id="WixUIBannerBmp" Value="banner.png"/>-->  <!--This is the Icon for the banner of the install windows its 493x58 px -->
    
    <!--<WixVariable Id="WixUIDialogBmp" Value="dialog.png"/>-->  <!--This is the Icon for the banner of the install windows its 493×312 px -->



    <Feature Id="Main">
      <ComponentGroupRef Id="ApplicationComponents"/>
    </Feature>
    <Feature Id="Shortcuts">
      <ComponentRef Id="ApplicationShortcutDesktop"/>
      <ComponentRef Id="ApplicationShortcutStartMenu"/>
    </Feature>
  </Package>
</Wix>
