<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" 
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
 
  <Bundle
    Id="OpenCOMBAS.OpenCOMBASLauncher" 
    Name="OpenCOMBASLauncher"
    Manufacturer="OpenCOMBAS"
    UpgradeCode="81c6e56f-87ad-4e7e-a8c3-c77089ce115d"
    IconSourceFile="Resources\OpenCOMBAS.ico"
    Version="0.0.0.2">
    <BootstrapperApplication>
      <!-- Define Application look and licence -->
      <bal:WixStandardBootstrapperApplication
        LicenseUrl="" 
        Theme="hyperlinkLicense"
        LogoFile="Resources\OpenCOMBAS.png"
        LogoSideFile="Resources\OpenCOMBAS.png"
        SuppressOptionsUI="yes"
        />
    </BootstrapperApplication>

    <!-- Upgrade Action: When a new version of the bundle is installed, it will automatically upgrade (replace) the old version -->
    <RelatedBundle Id="81c6e56f-87ad-4e7e-a8c3-c77089ce115d" Action="Upgrade" />

    <!-- Check for .NET 10 Desktop Runtime -->
    <util:RegistrySearch
      Id="DotNet1001"
      Root="HKLM"
      Key="SOFTWARE\WOW6432Node\dotnet\Setup\InstalledVersions\x64\sharedfx\Microsoft.WindowsDesktop.App"
      Value="10.0.1"
      Variable="DotNet1001Installed"
      Result="exists" />
    
    
    <Chain>
      <!-- .NET 10 Desktop Runtime -->
      <!--Use this instead of Source File if you want the user to download instead: DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/10.0.1/windowsdesktop-runtime-10.0.1-win-x64.exe"-->
      <ExePackage
        Id="DotNet10Desktop"
        Name="windowsdesktop-runtime-10.0.1-win-x64.exe"
        DisplayName=".NET 10 Desktop Runtime (x64)"
        SourceFile="Payloads\windowsdesktop-runtime-10.0.1-win-x64.exe"
        PerMachine="yes"
        Permanent="yes"
        Vital="no"
        InstallCondition="NOT DotNet1001Installed"
        Protocol="burn" />

      <!-- TailScale Install-->
      <MsiPackage
        Id="TailScale"
        SourceFile="Payloads\tailscale-setup-1.86.2-amd64.msi"
        DisplayName="TailScale VPN"
        Permanent="yes"
        Vital="yes" />
      
      <!-- Main MSI Package -->
      <!-- References the MSI built by the "OpenCombasLauncherMsi.wixproj" project -->
      <MsiPackage
        Id="MainPackage"
        SourceFile="OpenCOMBASLauncher.msi"
        Vital="yes"
        Compressed="yes" />
    </Chain>

  </Bundle>
</Wix>
